
NODE_ENV="development"
PORT=5000
URL="mysql://mysql:mysql@localhost:3306/almunji?schema=public"
DATABASE_URL="mysql://<username>:<password>@127.0.0.1:3306/almunjic_webserver?schema=public"
ACCESS_TOKEN_SECRET="Your Secret"
ACCESS_TOKEN_EXPIRES_IN="30d"
REFRESH_TOKEN_SECRET="Your Secret"
REFRESH_TOKEN_EXPIRES_IN="30d"
SUPER_ADMIN_EMAIL="EMAIL"
SUPER_ADMIN_USERNAME="USERNAME"
SUPER_ADMIN_PASSWORD="PASSWORD"
ADMIN_USERNAME="USERNAME"
ADMIN_EMAIL="EMAIL"
ADMIN_PASSWORD="PASSWORD"
PROD_API_URL="https://api.almunji.com"
